* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --svg-height: 15vh;
    --common-length: 30rem;
    --blue: rgb(161, 224, 255);
}

.cross {
    height: var(--svg-height);
    filter: invert(55%) sepia(100%) hue-rotate(150deg) saturate(3);
}

.circle {
    height: var(--svg-height);
    filter: invert(55%) sepia(100%) hue-rotate(300deg) saturate(8);
}

.title-wrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.title-container {
    width: var(--common-length);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.restart {
    padding: 2vh;
    margin-right: 3vh; 
    border-radius: 10px;
    border-style: none;
    background: linear-gradient(45deg, rgb(255, 182, 182), rgb(186, 186, 255));
    font-size: 1.2rem;
    color: white;
}

button.restart:hover {
    background: linear-gradient(45deg, rgb(255, 119, 119), rgb(118, 118, 255));
    cursor: pointer;
    color: black;
}

.container {
    height: 100vh;
    background-color: var(--blue);
}

.container p {
    font-size: max(3rem, 7vh);
    padding: 3vh;
    color: white;
}

.ttt-container {
    min-height: calc(var(--common-length)+3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    width: var(--common-length);
    min-height: var(--common-length);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 169, 246);
    border-color: rgb(226, 223, 170);
}

.cell:hover {
    background-color: rgb(175, 105, 241);
}

.cell:disabled {
    background-color: rgb(246, 169, 169);
}

.cell:nth-child(1) {
    border-radius: 20px 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 20px 0 0;
}
.cell:nth-child(7) {
    border-radius: 0 0 0 20px;
}
.cell:nth-child(9) {
    border-radius: 0 0 20px 0;
}

button.cell:hover {
    cursor: pointer;
}

.display-turn {
    /* font-size: 3rem; */
}

.dialog {
    position: absolute;
    top: 30vh;
    margin-left: auto; 
    margin-right: auto; 
    min-width: 300px;
    min-height: 20vh;

    padding: 3vw 2vw;
    border-radius: 20px;
    background-color: antiquewhite;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

input[type="text"] {
    background-color: azure;
    border-style: solid;
    border-radius: 5px;
    border-color: gold;
    padding: 0.8vw;
}

input:focus {
    outline: none;
    border-color: rgb(80, 194, 233);
}

form button {
    align-self: center;
    padding: 1vh 3vw;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--blue);
    border-color: rgb(125, 102, 252);
}